:root {
  --md-elevation-umbra-opacity: 0.2;
  --md-elevation-penumbra-opacity: 0.14;
  --md-elevation-ambient-opacity: 0.12;

  --md-elevation-umbra-color: rgba(0, 0, 0, var(--md-elevation-umbra-opacity));
  --md-elevation-penumbra-color: rgba(0, 0, 0, var(--md-elevation-penumbra-opacity));
  --md-elevation-ambient-color: rgba(0, 0, 0, var(--md-elevation-ambient-opacity));

  --md-elevation-umbra-0: 0px 0px 0px 0px;
  --md-elevation-umbra-1: 0px 2px 1px -1px;
  --md-elevation-umbra-2: 0px 3px 1px -2px;
  --md-elevation-umbra-3: 0px 3px 3px -2px;
  --md-elevation-umbra-4: 0px 2px 4px -1px;
  --md-elevation-umbra-5: 0px 3px 5px -1px;
  --md-elevation-umbra-6: 0px 3px 5px -1px;
  --md-elevation-umbra-7: 0px 4px 5px -2px;
  --md-elevation-umbra-8: 0px 5px 5px -3px;
  --md-elevation-umbra-9: 0px 5px 6px -3px;
  --md-elevation-umbra-10: 0px 6px 6px -3px;
  --md-elevation-umbra-11: 0px 6px 7px -4px;
  --md-elevation-umbra-12: 0px 7px 8px -4px;
  --md-elevation-umbra-13: 0px 7px 8px -4px;
  --md-elevation-umbra-14: 0px 7px 9px -4px;
  --md-elevation-umbra-15: 0px 8px 9px -5px;
  --md-elevation-umbra-16: 0px 8px 10px -5px;
  --md-elevation-umbra-17: 0px 8px 11px -5px;
  --md-elevation-umbra-18: 0px 9px 11px -5px;
  --md-elevation-umbra-19: 0px 9px 12px -6px;
  --md-elevation-umbra-20: 0px 10px 13px -6px;
  --md-elevation-umbra-21: 0px 10px 13px -6px;
  --md-elevation-umbra-22: 0px 10px 14px -6px;
  --md-elevation-umbra-23: 0px 11px 14px -7px;
  --md-elevation-umbra-24: 0px 11px 15px -7px;

  --md-elevation-penumbra-0: 0px 0px 0px 0px;
  --md-elevation-penumbra-1: 0px 1px 1px 0px;
  --md-elevation-penumbra-2: 0px 2px 2px 0px;
  --md-elevation-penumbra-3: 0px 3px 4px 0px;
  --md-elevation-penumbra-4: 0px 4px 5px 0px;
  --md-elevation-penumbra-5: 0px 5px 8px 0px;
  --md-elevation-penumbra-6: 0px 6px 10px 0px;
  --md-elevation-penumbra-7: 0px 7px 10px 1px;
  --md-elevation-penumbra-8: 0px 8px 10px 1px;
  --md-elevation-penumbra-9: 0px 9px 12px 1px;
  --md-elevation-penumbra-10: 0px 10px 14px 1px;
  --md-elevation-penumbra-11: 0px 11px 15px 1px;
  --md-elevation-penumbra-12: 0px 12px 17px 2px;
  --md-elevation-penumbra-13: 0px 13px 19px 2px;
  --md-elevation-penumbra-14: 0px 14px 21px 2px;
  --md-elevation-penumbra-15: 0px 15px 22px 2px;
  --md-elevation-penumbra-16: 0px 16px 24px 2px;
  --md-elevation-penumbra-17: 0px 17px 26px 2px;
  --md-elevation-penumbra-18: 0px 18px 28px 2px;
  --md-elevation-penumbra-19: 0px 19px 29px 2px;
  --md-elevation-penumbra-20: 0px 20px 31px 3px;
  --md-elevation-penumbra-21: 0px 21px 33px 3px;
  --md-elevation-penumbra-22: 0px 22px 35px 3px;
  --md-elevation-penumbra-23: 0px 23px 36px 3px;
  --md-elevation-penumbra-24: 0px 24px 38px 3px;

  --md-elevation-ambient-0: 0px 0px 0px 0px;
  --md-elevation-ambient-1: 0px 1px 3px 0px;
  --md-elevation-ambient-2: 0px 1px 5px 0px;
  --md-elevation-ambient-3: 0px 1px 8px 0px;
  --md-elevation-ambient-4: 0px 1px 10px 0px;
  --md-elevation-ambient-5: 0px 1px 14px 0px;
  --md-elevation-ambient-6: 0px 1px 18px 0px;
  --md-elevation-ambient-7: 0px 2px 16px 1px;
  --md-elevation-ambient-8: 0px 3px 14px 2px;
  --md-elevation-ambient-9: 0px 3px 16px 2px;
  --md-elevation-ambient-10: 0px 4px 18px 3px;
  --md-elevation-ambient-11: 0px 4px 20px 3px;
  --md-elevation-ambient-12: 0px 5px 22px 4px;
  --md-elevation-ambient-13: 0px 5px 24px 4px;
  --md-elevation-ambient-14: 0px 5px 26px 4px;
  --md-elevation-ambient-15: 0px 6px 28px 5px;
  --md-elevation-ambient-16: 0px 6px 30px 5px;
  --md-elevation-ambient-17: 0px 6px 32px 5px;
  --md-elevation-ambient-18: 0px 7px 34px 6px;
  --md-elevation-ambient-19: 0px 7px 36px 6px;
  --md-elevation-ambient-20: 0px 8px 38px 7px;
  --md-elevation-ambient-21: 0px 8px 40px 7px;
  --md-elevation-ambient-22: 0px 8px 42px 7px;
  --md-elevation-ambient-23: 0px 9px 44px 8px;
  --md-elevation-ambient-24: 0px 9px 46px 8px;

    /* Elevation Levels */
  --md-elevation-0: var(--md-elevation-umbra-0) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-0) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-0) var(--md-elevation-ambient-color);
  --md-elevation-1: var(--md-elevation-umbra-1) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-1) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-1) var(--md-elevation-ambient-color);
  --md-elevation-2: var(--md-elevation-umbra-2) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-2) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-2) var(--md-elevation-ambient-color);
  --md-elevation-3: var(--md-elevation-umbra-3) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-3) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-3) var(--md-elevation-ambient-color);
  --md-elevation-4: var(--md-elevation-umbra-4) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-4) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-4) var(--md-elevation-ambient-color);
  --md-elevation-5: var(--md-elevation-umbra-5) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-5) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-5) var(--md-elevation-ambient-color);
  --md-elevation-6: var(--md-elevation-umbra-6) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-6) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-6) var(--md-elevation-ambient-color);
  --md-elevation-7: var(--md-elevation-umbra-7) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-7) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-7) var(--md-elevation-ambient-color);
  --md-elevation-8: var(--md-elevation-umbra-8) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-8) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-8) var(--md-elevation-ambient-color);
  --md-elevation-9: var(--md-elevation-umbra-9) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-9) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-9) var(--md-elevation-ambient-color);
  --md-elevation-10: var(--md-elevation-umbra-10) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-10) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-10) var(--md-elevation-ambient-color);
  --md-elevation-11: var(--md-elevation-umbra-11) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-11) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-11) var(--md-elevation-ambient-color);
  --md-elevation-12: var(--md-elevation-umbra-12) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-12) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-12) var(--md-elevation-ambient-color);
  --md-elevation-13: var(--md-elevation-umbra-13) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-13) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-13) var(--md-elevation-ambient-color);
  --md-elevation-14: var(--md-elevation-umbra-14) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-14) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-14) var(--md-elevation-ambient-color);
  --md-elevation-15: var(--md-elevation-umbra-15) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-15) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-15) var(--md-elevation-ambient-color);
  --md-elevation-16: var(--md-elevation-umbra-16) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-16) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-16) var(--md-elevation-ambient-color);
  --md-elevation-17: var(--md-elevation-umbra-17) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-17) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-17) var(--md-elevation-ambient-color);
  --md-elevation-18: var(--md-elevation-umbra-18) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-18) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-18) var(--md-elevation-ambient-color);
  --md-elevation-19: var(--md-elevation-umbra-19) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-19) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-19) var(--md-elevation-ambient-color);
  --md-elevation-20: var(--md-elevation-umbra-20) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-20) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-20) var(--md-elevation-ambient-color);
  --md-elevation-21: var(--md-elevation-umbra-21) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-21) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-21) var(--md-elevation-ambient-color);
  --md-elevation-22: var(--md-elevation-umbra-22) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-22) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-22) var(--md-elevation-ambient-color);
  --md-elevation-23: var(--md-elevation-umbra-23) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-23) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-23) var(--md-elevation-ambient-color);
  --md-elevation-24: var(--md-elevation-umbra-24) var(--md-elevation-umbra-color), var(--md-elevation-penumbra-24) var(--md-elevation-penumbra-color), var(--md-elevation-ambient-24) var(--md-elevation-ambient-color);
}

